:root {
  --xxl-text: clamp(2rem, 1.6666666666666667rem + 1.6666666666666667vw, 3rem);
  --xxl-text-alt: 3rem;
  --xl-text: clamp(1.5rem, 1.3333333333333333rem + 0.8333333333333334vw, 2rem);
  --xl-text-alt: 1.5rem;
  --l-text: clamp(1.3rem, 1.1333333333333333rem + 0.8333333333333334vw, 1.8rem);
  --l-text-alt: 1.3rem;
  --m-text: clamp(
    1.1rem,
    1.0000000000000002rem + 0.49999999999999967vw,
    1.4rem
  );
  --m-text-alt: 1.1rem;
  --s-text: clamp(1rem, 0.9333333333333333rem + 0.33333333333333326vw, 1.2rem);
  --s-text-alt: 1rem;
  --xs-text: clamp(0.9rem, 0.85rem + 0.25000000000000006vw, 1.05rem);
  --xs-text-alt: 0.9rem;
  --xxs-text: clamp(0.75rem, 0.7rem + 0.25000000000000006vw, 0.9rem);
  --xxs-text-alt: 0.75rem;
  --content-font: "Urbanist", sans-serif;
  --s-radius: 5px;
  --m-radius: 10px;
  --l-radius: 15px;
  --blue: #7afef6;
  --light-blue: #d2f6f9;
  --white: #f7fcf8;
  --light-font: #e2faf8;
  --transparent: #02030330;
}

.svg--icon {
  height: 1rem;
}

.svg--button {
  height: 1.5rem;
  width: 1.5rem;
  stroke: var(--light-blue);
  margin: 5px;
}

button {
  border: none;
  border-radius: var(--s-radius);
  margin: 0.25rem 0;
  padding: 0.5rem;
  font-weight: 600;
  font-size: var(--xs-text);
}

button.blue {
  background-color: var(--blue);
}

button.login {
  margin: 1.25rem;
  background-color: #7afef6;
}

button.header {
  width: fit-content;
  margin: 0.5rem;
  background-color: var(--blue);
}

.blue {
  background-color: var(--blue);
}

.todo--input {
  border: none;
  width: 15rem;
  border-radius: var(--s-radius);
  padding: 0.25rem;
  font-size: var(--xs-text-alt);
  font-size: var(--xs-text);
  margin: 0.25rem;
}

.App {
  font-family: var(--content-font);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--light-blue); */
  background-image: url("https://images.unsplash.com/photo-1614852206732-6728910dc175");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.title {
  color: var(--light-font);
  font-size: var(--xl-text);
  font-weight: 600;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: -20%;
  min-height: 100%;
  width: 100%;
}

.auth--form {
  display: flex;
  flex-direction: column;
  background-color: #d6fffd54;
  border-radius: var(--m-radius);
  padding: 1rem;
  min-width: 15rem;
  justify-content: space-between;
}
/* add focus outline for external box. May need to set state for focus */
.input--border {
  border: var(--dark-grey) 1px solid;
  border-radius: var(--s-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.25rem;
  width: 17rem;
  margin: 0;
  background-color: var(--white);
}

.auth--input--box {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.auth--input {
  margin: 0.75rem;
  color: var(--light-font);
}

.input--border:focus {
  outline: var(--blue);
}

.icon--input {
  border: none;
  width: 16rem;
  font-size: var(--xs-text-alt);
  font-size: var(--xs-text);
}

.input--border.false {
  border: red 2px solid;
}

.error {
  color: red;
  margin: none;
  padding: none;
}

.icon--input:focus {
  outline: none;
}

.home--page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.todo--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--transparent);
  border-radius: var(--l-radius);
  margin-top: 10%;
  min-height: 35rem;
  width: 25rem;
  color: var(--white);
  padding: 1.5rem;
}

.todo--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  background-color: #2600ff47;
  width: 100%;
  padding-left: 0.25rem;
  margin: 3px;
}

.todo:hover {
  background-color: rgba(0, 0, 255, 0.703);
}

.todo--title {
  font-size: var(--xs-text);
  font-weight: 500;
}

.todo--button--box {
  display: flex;
}

.todo--form--container {
  display: flex;
  width: 100%;
  padding-right: 5px;
  justify-content: space-between;
}
